Notifierd#user_mailer

 <html>
 <head>
   <h> user information</h>
<p>
<%= @contact.name %>
<%= @contact.address %>
<%= @contact.phone_no %>
<%= @contact.email %>
             thank u for your information.  </p>



</head>
 </html>